/* add.less样式 */
#app {
  /* background:bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit; */
}
#app ul li {
  font-weight: 700;
  font-style: italic;
}
#app .box {
  width: 500px;
  height: 500px;
  background: url('../images/child.jpg');
  background-size: cover;
}
